doctype html
html(lang="en")
    head
        title L5R
        link(rel="stylesheet", type="text/css", href="/css/main.css")
    body
        canvas#game(width=578, height=530) Canvas not supported
        script(type="text/javascript", src="/js/lib/require.js", data-main="/js/main.js")